.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 992px;
  }

  @media screen and (max-width: 1022px) {
    width: 768px;
  }

  @media screen and (max-width: 798px) {
    width: 576px;
  }

  @media screen and (max-width: 606px) {
    width: 320px;
  }

}