// Базовая типографика

$font-size--root:             16px;

$font-size:                   1rem; // rem(16px)

$font-size--small:            90%;
$font-size--big:              110%;

$font-size--h1:               rem(60px);
$font-size--h2:               rem(30px);
$font-size--h3:               rem(24px);
$font-size--h4:               rem(18px);
$font-size--h5:               rem(16px);
$font-size--h6:               rem(16px);


$line-height:                 24px;


// Цвета

$main:                        #333333;
$main-lighter:                #4d4d4d;
$main-more-lighter:           #f7f7f7;
$main-light:                  #ffffff;
$main-dark:                   #000000;
$primary:                     #1abc9c;

