.filler {
  background-image: url("../img/filler__background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  height: 300px;

  &__content {
    color: $main-light;
    text-align: center;
    width: 1170px;
    transform: translate(0,-50%);
    margin: auto;
    height: 135px;
    position: absolute;
    top: 50%; // Random number for IE11
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__title {
    margin: 0;
    font-size: $font-size--h2;
    font-weight: 800;
    margin-bottom: 50px;
  }

  &__btn {
    margin: 0 auto;
    display: block;
    background-color: $primary;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);  
    text-decoration: none; 
    color: $main-light;
    font-size: $font-size--big;
    width: 170px;
    height: 47px;
    line-height: 45px; // To center element 
    border-radius: 23.5px;

    transition: background-color 0.3s;

    &:hover {
      background-color: lighten($color: $primary, $amount: 5%);
    }
  }
}