.footer {
  background-color: $main;
  padding: 50px 0;
  color: $main-light;

  @media screen and (max-width: 1200px) {
    padding: 30px 0;
  }

  &__content {
    text-align: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $main-light;
    transition: all 0.3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &__link {
    position: relative;
    background-color: $main-lighter; 
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;

    &:hover {
      .footer__icon {
        fill: $primary;
      }
    }
  }

  &__socials {
    display: flex;
    flex-flow: row wrap;
    max-width: 265px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;

    @media screen and (max-width: 798px) {
      margin-bottom: 30px;
    }
  }

  &__copy {
    margin: 0;
    font-size: $font-size--small;
  }
}

.logo {
  &__footer {
    color: $main-light;
  }

  &--footer {
    margin-bottom: 40px;

    @media screen and (max-width: 798px) {
      margin-bottom: 30px;
    }
  }
}