section.about(data-scroll-index="2")
  .container
    .about__inner
      .about__left
        img.about__img(src="/img/about__img.png", alt="")
      .about__right
        h2.about__title ABOUT ME
        p.about__job UI/UX DESIGNER & WEB DEVELOPER
        p.about__desc My name is Stanislav, experienced web developer with practical knowledge of design techniques, tools and strategies. Driven to exceed customer expectations with cutting-edge web applications. Key priorities are quality and time management. I’m creative, open-minded and organized. 
        p.about__desc My mission is success and goal achievement of my clients. I’m getting lots of fun from the my day-to-day job. My abilities will help you in your web projects. You will surely enjoy the results of our cooperation.
        .about__contacts
          .about__contact 
            .about__contact__wrapper 
              p.about__contact__title ADDRESS :
              a(href="https://goo.gl/maps/6iuQF5z83jt" target="_blank").about__contact__desc Zhytomir, Ukraine
            .about__contact__wrapper 
              p.about__contact__title PHONE :
              a(href="tel:+380634583952").about__contact__desc.about__contact__phone +38 (063) 458 39 52
          .about__contact 
            .about__contact__wrapper 
              p.about__contact__title EMAIL :
              a(href="mailto:semioys@gmail.com").about__contact__desc semioys@gmail.com
            .about__contact__wrapper 
              p.about__contact__title SKYPE :
              a(href="skype:semioys?userinfo").about__contact__desc semioys
        a(href="https://tinyurl.com/ya5ce5uv" target="_blank").about__cv DOWNLOAD C.V.
    .about__skills
      .about__skill
        p.about__barname HTML/CSS
        #bar1.barfiller
          span.tip 90%
          span.fill(data-percentage='98')
      .about__skill
        p.about__barname JAVASCRIPT
        #bar2.barfiller
          span.tip 95%
          span.fill(data-percentage='95')
      .about__skill
        p.about__barname DESIGN
        #bar3.barfiller
          span.tip 88%
          span.fill(data-percentage='88')
      .about__skill
        p.about__barname REACT.JS
        #bar4.barfiller
          span.tip 90%
          span.fill(data-percentage='78')