section.about
  .container
    .about__inner
      .about__left
        img.about__img(src="/img/about__img.png", alt="")
      .about__right
        h2.about__title ABOUT ME
        p.about__job UI/UX DESIGNER & WEB DEVELOPER
        p.about__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        p.about__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .about__contacts
          .about__contact 
            .about__contact__wrapper 
              p.about__contact__title ADDRESS :
              a(href="https://goo.gl/maps/6iuQF5z83jt" target="_blank").about__contact__desc Zhytomir, Ukraine
            .about__contact__wrapper 
              p.about__contact__title PHONE :
              a(href="tel:+380634583952").about__contact__desc.about__contact__phone +38 (063) 458 39 52
          .about__contact 
            .about__contact__wrapper 
              p.about__contact__title EMAIL :
              a(href="mailto:semioys@gmail.com").about__contact__desc semioys@gmail.com
            .about__contact__wrapper 
              p.about__contact__title SKYPE :
              a(href="skype:semioys?userinfo").about__contact__desc semioys
        a(href="https://tinyurl.com/ya5ce5uv" target="_blank").about__cv DOWNLOAD C.V.
    .about__skills
      .about__skill
        p.about__barname HTML/CSS
        #bar1.barfiller
          span.tip 90%
          span.fill(data-percentage='98')
      .about__skill
        p.about__barname JAVASCRIPT
        #bar2.barfiller
          span.tip 95%
          span.fill(data-percentage='95')
      .about__skill
        p.about__barname DESIGN
        #bar3.barfiller
          span.tip 88%
          span.fill(data-percentage='88')
      .about__skill
        p.about__barname REACT.JS
        #bar4.barfiller
          span.tip 90%
          span.fill(data-percentage='78')