footer.footer
  .container
    .footer__content
      .logo.logo--footer
        a(href="/").logo__text.logo__footer. 
          sh<span class="logo__accent">.</span>dev
      .footer__socials
        a.footer__link(href="#").footer__social
          +icon('fb', 'footer__icon')
        a.footer__link(href="#").footer__social
          +icon('in', 'footer__icon')
        a.footer__link(href="#").footer__social
          +icon('git', 'footer__icon')
        a.footer__link(href="#").footer__social
          +icon('pint', 'footer__icon')
      p.footer__copy Copyright © 2018 STANISLAV HURSKY. All Rights Reserved.
                           