header.header(data-scroll-index="0")
  .header__topbar
    .container
      .header__wrapper
        .logo
          a(href="/").logo__text. 
            sh<span class="logo__accent">.</span>dev
        .menu
          ul.menu__wrapper
            li.menu__item
              a.menu__link.menu__link--active(href="#" data-scroll-nav="0") HOME
            li.menu__item
              a.menu__link(href="#" data-scroll-nav="1") WHAT I DO
            li.menu__item
              a.menu__link(href="#" data-scroll-nav="2") ABOUT ME
            li.menu__item
              a.menu__link(href="#" data-scroll-nav="3") PORTFOLIO
            li.menu__item
              a.menu__link(href="#" data-scroll-nav="4") CONTACT
  .container
    .header__content
      .header__text
        h2.header__subtitle HELLO, MY NAME IS STANISLAV
        h1.header__title I'M A WEB DEVELOPER
        p.header__desc I'm a Web Developer with extensive experience for over a year. My expertise is to create and design Websites, Apps, Mockups and many more...
        .header__btns
          a(href="#" data-scroll-nav="4").header__contact CONTACT ME
          a(href="#" data-scroll-nav="3").header__work MY WORK
    a(href="#" data-scroll-nav="1").scroll
    
