header.header
  .header__topbar
    .container
      .header__wrapper
        .logo
          +icon('logo','logo__icon')
        .menu
          ul.menu__wrapper
            li.menu__item
              a.menu__link.menu__link--active(href="#") HOME
            li.menu__item
              a.menu__link(href="#") WHAT I DO
            li.menu__item
              a.menu__link(href="#") ABOUT ME
            li.menu__item
              a.menu__link(href="#") PORTFOLIO
            li.menu__item
              a.menu__link(href="#") CONTACT
  .container
    .header__content
      .header__text
        h2.header__subtitle HELLO, MY NAME IS STANISLAV
        h1.header__title I'M A WEB-DEVELOPER
        p.header__desc I'm a Web Developer with extensive experience for over 3 years. My expertise is to create and design Websites, Apps, Mockups and many more...
        .header__btns
          a(href="#").header__contact CONTACT ME
          a(href="#").header__work MY WORK
    a.scroll
    
