section.services(data-scroll-index="1")
  .container
    .services__text
      h2.services__title WHAT I DO
      p.services__desc Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries.
    .services__wrapper
      .service
        +icon('service-1','service__img')
        h4.service__title WEB-DESIGN
        p.service__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nulla facere, maiores, aliquam nesciunt explicabo inventore sit.
      .service
        +icon('service-2','service__img')
        h4.service__title WEB-DESIGN
        p.service__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nulla facere, maiores, aliquam nesciunt explicabo inventore sit.
      .service
        +icon('service-3','service__img')
        h4.service__title WEB-DESIGN
        p.service__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nulla facere, maiores, aliquam nesciunt explicabo inventore sit.
      .service
        +icon('service-4','service__img')
        h4.service__title WEB-DESIGN
        p.service__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nulla facere, maiores, aliquam nesciunt explicabo inventore sit.
      .service
        +icon('service-5','service__img')
        h4.service__title WEB-DESIGN
        p.service__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nulla facere, maiores, aliquam nesciunt explicabo inventore sit.
      .service
        +icon('service-6','service__img')
        h4.service__title WEB-DESIGN
        p.service__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nulla facere, maiores, aliquam nesciunt explicabo inventore sit.