section.services(data-scroll-index="1")
  .container
    .services__text
      h2.services__title WHAT I DO
      p.services__desc I develop sites of any complexity - landing pages, presentation sites, online stores. I do work quickly, efficiently and always in time!
    .services__wrapper
      .service
        +icon('service-1','service__img')
        h4.service__title WEB-DESIGN
        p.service__desc It's not necessary to include every trend on your website, many of them have the potential to improve your visitor's experience.
      .service
        +icon('service-2','service__img')
        h4.service__title CLEAN CODE
        p.service__desc A programmer who can write clean code is an artist. He is able to turn an empty screen into an elegant piece of art.
      .service
        +icon('service-3','service__img')
        h4.service__title FULLY RESPONSIVE
        p.service__desc Whatever device your web visitors are using they get the best possible view of your business or service.
      .service
        +icon('service-4','service__img')
        h4.service__title RETINA READY
        p.service__desc The ultimate aim of Retina display is to improve the user experience and make screen quality almost on a par with print quality.
      .service
        +icon('service-5','service__img')
        h4.service__title UNIQUE DESIGN
        p.service__desc I create brands and logos, which uniquely represent your company and remain well anchored in the minds of all target groups
      .service
        +icon('service-6','service__img')
        h4.service__title SUPPORT 24/7
        p.service__desc The faster and more diverse the support service is, the better the chances are for the company to keep their customers.